<div class="date-picker inline w-full">
  <div class="flex justify-between">
    <div>
      <div class="relative inline-block text-left p-2 min-w-[150px]">
        <button
          (click)="toggleMonth()"
          type="button"
          class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500"
          id="dropdown-toggle"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{ selectedMonth }}
          <!-- Heroicon name: chevron-down -->
          <svg
            class="-mr-1 ml-2 h-5 w-5"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 011.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
        <div
          *ngIf="ShowMonths"
          class="origin-bottom-left absolute mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
          role="menu"
          aria-orientation="vertical"
          aria-labelledby="dropdown-toggle"
          tabindex="-1"
        >
          <div class="py-1" role="none">
            <a
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
              *ngFor="let month of months"
              (click)="selectMonth(month)"
            >
              {{ month }}
            </a>
          </div>
        </div>
      </div>

      <div class="relative inline-block text-left p-2">
        <button
          (click)="toggleYear()"
          type="button"
          class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500"
          id="dropdown-toggle"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{ selectedYear }}
          <!-- Heroicon name: chevron-down -->
          <svg
            class="-mr-1 ml-2 h-5 w-5"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 011.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
        <div
          *ngIf="ShowYears"
          class="origin-bottom-left absolute mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
          role="menu"
          aria-orientation="vertical"
          aria-labelledby="dropdown-toggle"
          tabindex="-1"
        >
          <div class="py-1" role="none">
            <a
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
              *ngFor="let year of years"
              (click)="selectYear(year)"
            >
              {{ year }}
            </a>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="relative inline-block text-left p-2">
        <button
          (click)="prevWeek()"
          type="button"
          class="inline-flex justify-center rounded-md border border-gray-300 px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500"
        >
          <div class="flex flex-row align-middle">
            <svg
              class="w-5 mr-2"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </div>
        </button>
      </div>

      <div class="relative inline-block text-left p-2">
        <button
          (click)="nextWeek()"
          type="button"
          class="inline-flex justify-center rounded-md border border-gray-300 px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500"
        >
          <div class="flex flex-row align-middle">
            <svg
              class="w-5 ml-2"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </div>
        </button>
      </div>
    </div>
  </div>
  <table style="width: 100%">
    <tr>
      <th
        *ngFor="
          let day of [' ', 'Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
        "
      >
        {{ day }}
      </th>
    </tr>
    <!-- this.weeks[0][0].dateNumber -->
    <!-- <ng-container *ngFor="let week of weeks"> -->
    <tr>
      <td></td>
      <th *ngFor="let day of weeks[weekIndex]">
        {{ day.isCurrentMonth ? day.dateNumber : "&nbsp;&nbsp;" }}
      </th>
    </tr>
    <tr *ngFor="let dentist of dentists">
      <td >{{ dentist.name }}</td>
      <th *ngFor="let day of weeks[weekIndex]">
        <button (click)="openAddWork()" class="h-10 w-full"> {{ (showWorkTime(selectedYear + '-' + selectedMonth + '-' + day.dateNumber, dentist.id)) }}
        </button>
        <!-- <button (click)="openAddWork()" class="h-10 w-full"> {{ selectedYear + '-' + selectedMonth + '-' + day.dateNumber }}
        </button> -->
        <!-- {{ dentist.name }} {{day.dateNumber}}  {{ selectedMonth }}  {{ selectedYear }}</th> -->
    

    </tr>
    <!-- </ng-container> -->
  </table>
</div>

<div
  *ngIf="isOpenAddWork"
  class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center z-10"
 
>
  <div class="bg-white p-8 rounded shadow-lg">
    <h2 class="text-lg font-medium mb-4">Schedule Appointment</h2>
    <div class="flex flex-col mb-4">
      <label class="mb-2 font-semibold">Select</label>
      <div class="flex items-center mb-2">
        <input
          type="radio"
          name="scheduleType"
          value="allDay"
          [(ngModel)]="scheduleType"
          class="mr-2"
        />
        <label>All Day</label>
      </div>
      <div class="flex items-center">
        <input
          type="radio"
          name="scheduleType"
          value="scheduled"
          [(ngModel)]="scheduleType"
          class="mr-2"
        />
        <label>Scheduled</label>
      </div>
    </div>
    <div *ngIf="scheduleType==='scheduled'" class="flex flex-col mb-4">
      <label class="mb-2 font-semibold">Start Time</label>
      <div class="flex items-center mb-2">
        <input
          class="appearance-none block w-full text-gray-700 border border-custom-blue-pale rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
          id="end-time"
          type="time"
        />
       
      </div>
    </div>
    <div *ngIf="scheduleType==='scheduled'" class="flex flex-col mb-4">
      <label class="mb-2 font-semibold">End Time</label>
      <div class="flex items-center mb-2">
        <input
          class="appearance-none block w-full text-gray-700 border border-custom-blue-pale rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
          id="end-time"
          type="time"
        />
       
      </div>
    </div>
    <div class="flex flex-col mb-4">
      <label class="mb-2 font-semibold">Repetition</label>
      <div class="flex items-center mb-2">
        <select
          [(ngModel)]="repetition"
          class="w-full border rounded py-2 px-3"
        >
          <option value="">None</option>
          <option value="day">Day</option>
          <option value="week">Week</option>
          <option value="year">Year</option>
        </select>
      </div>
    </div>
    <div class="flex flex-col mb-4"></div>

    <div class="flex justify-end">
      <button class="px-4 py-2 mr-2 text-gray-600 border rounded-md hover:text-gray-800" (click)="isOpenAddWork = false">Cancel</button>
      <button class="px-4 py-2 text-white bg-indigo-500 border rounded-md hover:bg-indigo-600">Confirm</button>
    </div>
  </div>
  
  

</div> 
