<form class="flex gap-x-4 justify-end">
    <input placeholder="ค้นหารายการ"
      class="flex w-96 bg-white text-custom-main-dark font-medium py-3 px-4 text-xl rounded-lg border-custom-main-super-light border-[1px] drop-shadow-custom-shadow mt-8 placeholder-custom-main-dark focus:outline-none"
      type="text" />
  
    <select aria-label="SortBy"
      class="flex w-60 bg-white text-custom-main-dark font-medium py-3 px-4 text-xl rounded-lg border-custom-main-super-light border-[1px] drop-shadow-custom-shadow mt-8 placeholder-custom-main-dark focus:outline-none"
      name="sortBy">
      <option>lorem 1</option>
      <option>lorem 2</option>
      <option>lorem 3</option>
    </select>
  
    <select aria-label="Filter"
      class="flex w-60 bg-white text-custom-main-dark font-medium py-3 px-4 text-xl rounded-lg border-custom-main-super-light border-[1px] drop-shadow-custom-shadow mt-8 placeholder-custom-main-dark focus:outline-none"
      name="filter">
      <option>lorem 1</option>
      <option>lorem 2</option>
      <option>lorem 3</option>
    </select>
  </form>
  
   <button type="button" 
    class="flex w-fit mt-5 justify-center items-center gap-x-2 bg-custom-main text-white font-medium py-3 px-8 text-xl rounded-lg drop-shadow-custom-shadow hover:bg-custom-main-light hover:text-custom-main-dark">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
      class="w-4 h-4">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
    </svg>
    เพิ่มรายการ
  </button> 
  
  <!-- pagination table items -->
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-4">
    <table class="w-full text-sm text-center">
      <thead class="text-lg text-white uppercase bg-custom-main-dark">
        <tr>
            <th scope="col" class="px-6 py-3">
                {{' '}}
              </th>
          <th scope="col" class="px-6 py-3">
            Username
          </th>
          <th scope="col" class="px-6 py-3">
            ชื่อ นามสกุล
          </th>
          <th scope="col" class="px-6 py-3">
            เพศ
          </th>
          <th scope="col" class="px-6 py-3">
            เลขประจำตัวประชาชน
          </th>
          
          <th scope="col" class="px-6 py-3">
            Email
          </th>
          <th scope="col" class="px-6 py-3">
            เบอร์โทรติดต่อ
          </th>
          <th scope="col" class="px-6 py-3">
            ที่อยู่
          </th>
          
          <th scope="col" class="px-6 py-3">
            {{' '}}
          </th>
         
        </tr>
      </thead>
      <tbody class="border">
        <tr *ngFor="let dentist of dentists; let i = index"
          class="bg-custom-gray [&:not(:last-child)]:border-b-2 border-black border-opacity-10 hover:bg-gray-50 text-lg">
          <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
            {{i + 1}}
          </th>
          <td class="px-6 py-4">
            {{dentist.username}}
          </td>
          <td class="px-6 py-4">
            {{dentist.prefix}} {{dentist.first_name}} {{dentist.last_name}}
          </td>
          <td class="px-6 py-4">
            {{dentist.sex}}
          </td>
          <td class="px-6 py-4">
            {{dentist.card_id}}
          </td>
          <td class="px-6 py-4">
            {{dentist.email}}
          </td>
          <td class="px-6 py-4">
            {{dentist.phone_number}}
          </td>
          <td class="px-6 py-4">
            {{dentist.address}}
          </td>
          
          
          
          <td class="flex gap-x-2 z-10 w-fit px-6 py-4 text-white font-medium text-lg">
            <button type="button" 
              class="px-3 py-1 bg-custom-red rounded-lg hover:bg-custom-red-light">ลบ</button>
          </td>
         
        </tr>
      </tbody>
    </table>
  </div>
  
  <!-- pagination tab -->
  <!-- <div class="flex gap-x-3 mt-4">
    <div (click)="onTabClickHandler(-2, '-')"
      class="flex justify-center items-center w-10 h-10 rounded-lg bg-custom-main-light hover:bg-custom-main-super-light hover:cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
        class="w-6 h-6 rotate-180 text-white">
        <path
          d="M5.055 7.06c-1.25-.714-2.805.189-2.805 1.628v8.123c0 1.44 1.555 2.342 2.805 1.628L12 14.471v2.34c0 1.44 1.555 2.342 2.805 1.628l7.108-4.061c1.26-.72 1.26-2.536 0-3.256L14.805 7.06C13.555 6.346 12 7.25 12 8.688v2.34L5.055 7.06z" />
      </svg>
    </div>
  
    <div (click)="onTabClickHandler(-1, '-')" class=" flex justify-center items-center w-10 h-10 rounded-lg bg-custom-main-light
      hover:bg-custom-main-super-light hover:cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
        class="w-6 h-6 rotate-180 text-white">
        <path fill-rule="evenodd"
          d="M4.5 5.653c0-1.426 1.529-2.33 2.779-1.643l11.54 6.348c1.295.712 1.295 2.573 0 3.285L7.28 19.991c-1.25.687-2.779-.217-2.779-1.643V5.653z"
          clip-rule="evenodd" />
      </svg>
    </div>
  
    <div *ngFor="let item of paginationPageArray; let i = index" (click)="activeTab=i" [ngClass]="[activeTab === i ? 'text-white bg-custom-main-light hover:bg-custom-main-super-light': 'text-black bg-white border border-black hover:border-none hover:text-white hover:bg-custom-main-light']"
      class="flex justify-center items-center w-10 h-10 rounded-lg text-2xl font-semibold hover:cursor-pointer">
      {{i + 1}}
    </div>
  
    <div (click)="onTabClickHandler(1, '+')"
      class="flex justify-center items-center w-10 h-10 rounded-lg bg-custom-main-light hover:bg-custom-main-super-light hover:cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-white">
        <path fill-rule="evenodd"
          d="M4.5 5.653c0-1.426 1.529-2.33 2.779-1.643l11.54 6.348c1.295.712 1.295 2.573 0 3.285L7.28 19.991c-1.25.687-2.779-.217-2.779-1.643V5.653z"
          clip-rule="evenodd" />
      </svg>
    </div>
  
    <div (click)="onTabClickHandler(2, '+')"
      class="flex justify-center items-center w-10 h-10 rounded-lg bg-custom-main-light hover:bg-custom-main-super-light hover:cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-white">
        <path
          d="M5.055 7.06c-1.25-.714-2.805.189-2.805 1.628v8.123c0 1.44 1.555 2.342 2.805 1.628L12 14.471v2.34c0 1.44 1.555 2.342 2.805 1.628l7.108-4.061c1.26-.72 1.26-2.536 0-3.256L14.805 7.06C13.555 6.346 12 7.25 12 8.688v2.34L5.055 7.06z" />
      </svg>
    </div>
  </div> -->