<div class="py-7 px-4">
    <div class="grid grid-cols-[1fr_300px_150px] gap-x-3 place-items-end border-b pb-4">
  
      <div class="relative h-fit w-full">
        <label for="dentist-search-bar" class="text-lg text-custom-main-dark font-semibold">ค้นหาแพทย์</label>
        <input placeholder="ชื่อ, ความชำนาญ" name="name" id="dentist-search-bar" formControlName="name"
          class="flex w-full h-18 bg-white text-custom-main-dark py-3 px-4 text-lg rounded-lg border-custom-gray-mini-dark border mt-2 focus:outline-none focus:border-custom-main-dark"
          type="text" />
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-6 h-6 absolute bottom-[15%] right-4 cursor-pointer">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
        </svg>
      </div>
  
      <!-- <div class="h-full w-full">
        <label for="location-select" class="text-lg text-custom-main-dark font-semibold">ศูนย์การรักษา</label>
        <select aria-label="SortBy" id="location-select"
          class="flex h-18 w-full mt-2 bg-custom-light-aqua text-custom-blue font-semibold p-3 text-xl rounded-md placeholder-custom-main-dark focus:outline-none"
          name="sortBy">
          <option>lorem 1</option>
          <option>lorem 2</option>
          <option>lorem 3</option>
        </select>
      </div>
   -->
      
    </div>
  
  
    <div class="grid grid-cols-4 gap-5 mt-6">
      <div class="flex flex-col items-center gap-y-3 pt-3 shadow-custom-shadow-box" *ngFor="let dentist of dentistList">
        <img class="w-32 h-32 rounded-full p-1 shadow-xl object-cover" src={{dentist.picture}} alt={{dentist.name}} />
        <p class="text-lg font-semibold text-[#4a4a4a]">{{dentist.name}}</p>
        <p [ngClass]="!dentist.skill ? 'h-6' : ''" class="text-custom-gray-dark">{{dentist.skill}}</p>
        <div [ngClass]="[dentist.isFree ? 'grid-cols-2' : 'grid-cols-1']"
          class="mt-3 grid  place-items-center w-full bg-custom-gray text-custom-gray-dark">
          <div [ngClass]="dentist.isFree ? 'flex' : 'hidden'"
            class="justify-center items-center w-full gap-x-2 py-4 border-r cursor-pointer hover:bg-custom-gray-mini-dark">
            <img class="w-6" src="assets/icons/calendar-dark.png" alt="schedule" />
            <p>นัดหมาย</p>
          </div>
          <a routerLink="dentist-detail"
            class="flex justify-center items-center w-full gap-x-2 py-4 cursor-pointer hover:bg-custom-gray-mini-dark">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9 5.25h.008v.008H12v-.008z" />
            </svg>
            <p>รายละเอียด</p>
          </a>
        </div>
      </div>
    </div>
  </div>