<div class="grid grid-cols-[1fr_2fr] mt-5">
  <div class="p-4">
    <div class="grid grid-cols-[1fr_1fr_1fr] gap-x-4">
      <button type="button"
        class="bg-white text-custom-main-dark font-semibold py-3 text-xl rounded-lg border-custom-main-super-light border-[1px] drop-shadow-custom-shadow hover:bg-custom-main-light hover:text-white">ทั้งหมด</button>
      <button type="button"
        class="bg-custom-main-light text-white font-semibold py-3 text-xl rounded-lg drop-shadow-custom-shadow hover:bg-custom-main-light hover:text-custom-main-dark">วัน</button>
      <div class="relative">
        <button type="button"
          class="flex w-full justify-center bg-white text-custom-main-dark font-semibold py-3 text-xl rounded-lg border-custom-main-super-light border-[1px] drop-shadow-custom-shadow hover:bg-custom-main-light hover:text-white">
          รอการยืนยัน
        </button>
        <div
          class="flex justify-center items-center absolute -top-3 -right-3 text-white bg-custom-red shadow-lg w-7 h-7 rounded-full">
          {{waitConfirm}}</div>
      </div>
    </div>
    <div class="w-full max-w-md mx-auto mt-5">
      <div class="flex justify-between items-center mb-4">
        <button class="text-gray-600 hover:text-gray-900" (click)="goToPrevMonth()">
          <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
            <path d="M15 19l-7-7 7-7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
        <div class="text-gray-700 font-medium">{{ months[selectedMonth] }} {{ selectedYear }}</div>
        <button class="text-gray-600 hover:text-gray-900" (click)="goToNextMonth()">
          <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
            <path d="M9 5l7 7-7 7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
      <div class="grid grid-cols-7 gap-2">
        <div *ngFor="let day of daysOfWeek" class="text-sm font-medium text-gray-500">{{ day }}</div>
        <div *ngFor="let day of calendarDays" (click)="selectDate(day.date)" class="flex justify-center items-center rounded-full w-8 h-8 {{ day.isCurrentMonth ? 'bg-gray-300 hover:bg-gray-400' : 'bg-gray-100' }} text-gray-700 text-base font-medium cursor-pointer" [ngClass]="{'bg-blue-500 text-white': day.isSelected}" style="font-size: 13px">
          <div class="{{ day.isCurrentMonth ? 'text-gray-900' : 'text-gray-500' }}">{{ day.date.getDate() }}</div>
        </div>
        
      </div>
    </div>
    
    <input placeholder="ค้นหา"
      class="flex w-full bg-white text-custom-main-dark font-semibold p-3 text-xl rounded-lg border-custom-main-super-light border-[1px] drop-shadow-custom-shadow mt-8 placeholder-custom-main-dark focus:outline-none"
      type="text" />

    <select aria-label="SortBy"
      class="flex w-full bg-white text-custom-main-dark font-semibold p-3 text-xl rounded-lg border-custom-main-super-light border-[1px] drop-shadow-custom-shadow mt-8 placeholder-custom-main-dark focus:outline-none"
      name="sortBy">
      <option>sort by</option>
      <option>lorem 2</option>
      <option>lorem 3</option>
    </select>

    <select aria-label="Filter"
      class="flex w-full bg-white text-custom-main-dark font-semibold p-3 text-xl rounded-lg border-custom-main-super-light border-[1px] drop-shadow-custom-shadow mt-8 placeholder-custom-main-dark focus:outline-none"
      name="filter">
      <option>filter</option>
      <option>lorem 2</option>
      <option>lorem 3</option>
    </select>

    <a [routerLink]="'/staff/queue'"
      class="button flex w-full mt-10 justify-center bg-custom-main-light text-white font-semibold py-3 text-xl rounded-lg drop-shadow-custom-shadow hover:bg-custom-main-light hover:text-custom-main-dark">
      นัดหมายใหม่
    </a>
  </div>
  <div class="flex flex-col gap-y-6 p-4 overflow-y-auto">
    <div *ngFor="let data of data">
      <div
        class="grid grid-cols-[1.5fr_1fr] px-4 py-6 rounded-lg text-custom-main-super-dark text-xl bg-opacity-50 bg-custom-main-light">
  
        <div class="flex flex-col gap-y-2">
          <p >ชื่อ - นามสกุล : &nbsp;{{data.patient.prefix}}&nbsp;{{data.patient.first_name}}&nbsp;{{data.patient.last_name}}</p>
          <p>อาการ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;{{data.symtom}}</p>
          <p *ngIf="data.dentist != null">ทันตแพทย์&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;{{data.dentist.prefix || ''}}&nbsp;{{data.dentist.first_name || ''}}&nbsp;{{data.dentist.last_name || ''}}</p>
          <p *ngIf="data.dentist == null">ทันตแพทย์&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp; - </p>
          <p>โรคประจำตัว&nbsp;&nbsp; : &nbsp;{{data.patient.underlying_disease ? data.patient.underlying_disease : "-"}}</p>
          <p>แพ้ยา&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :
            &nbsp;{{data.allergy ?
              data.allergy : "-"}}</p>
        </div>
        <div>
          <p>เวลา &nbsp;&nbsp;&nbsp;: {{converseToTime(data.time_start)}} น.</p>
          <p>สถานะ : {{data.status}}</p>
        </div>

        <a *ngIf="data.status === 'รอการยืนยันจากคลินิก'" [routerLink]="['/staff/edit-queue',data.id]"
        class="button flex w-full mt-10 justify-center bg-custom-main-light text-white font-semibold py-3 text-xl rounded-lg drop-shadow-custom-shadow hover:bg-custom-main-light hover:text-custom-main-dark">
        ยืนยันการนัดหมาย
      </a>
      </div>
    </div>
  </div>
</div>