<div class="date-picker inline w-full">
    <div class="flex">
     
        
        <div class="relative inline-block text-left p-2 min-w-[150px]">
          <button
            (click)="toggleMonth()"
            type="button"
            class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500 "
            id="dropdown-toggle"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{ selectedMonth }}
            <!-- Heroicon name: chevron-down -->
            <svg
              class="-mr-1 ml-2 h-5 w-5"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 011.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
          <div
            *ngIf="ShowMonths"
            class="origin-bottom-left absolute mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="dropdown-toggle"
            tabindex="-1"
          >
            <div class="py-1" role="none">
              <a
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                *ngFor="let month of months"
                (click)="selectMonth(month)"
              >
                {{ month }}
              </a>
            </div>
          </div>
        </div>
  
  
        <div class="relative inline-block text-left p-2">
          <button
            (click)="toggleYear()"
            type="button"
            class="inline-flex justify-center w-full rounded-md border border-gray-300  px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500"
            id="dropdown-toggle"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{ selectedYear }}
            <!-- Heroicon name: chevron-down -->
            <svg
              class="-mr-1 ml-2 h-5 w-5"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 011.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
          <div
            *ngIf="ShowYears"
            class="origin-bottom-left absolute mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="dropdown-toggle"
            tabindex="-1"
          >
            <div class="py-1" role="none">
              <a
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                *ngFor="let year of years"
                (click)="selectYear(year)"
              >
                {{ year }}
              </a>
            </div>
          </div>
        </div>
  
  
        
  
        
      </div>
      <table style="width: 100%">
        <tr>
          <th *ngFor="let day of ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']">{{ day }}</th>
        </tr>
        <ng-container *ngFor="let week of weeks">
          <tr>
            <td *ngFor="let day of week" class = "p-2">
              <a  class="box">
                <p class="date">{{ day.isCurrentMonth? day.dateNumber : "&nbsp;&nbsp;" }} </p>
       
                <p >{{ day.isCurrentMonth? "Dr. John Smith" : "&nbsp;&nbsp;" }} </p>
                <!-- <button (click)="onDateClick(day)"></button> -->
              </a>
            </td>
          </tr>
        </ng-container>
      </table>
    </div>
